#maindiv {
    text-align: center;
    text-justify: center;
    background-color: gray;
    width: 510px;
    height: 655px;
    justify-content: center;
    line-height: 90px;
    position:center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 2);
}

div {

    background-color: lightblue;
    border-style: solid;
    border-width:3px;
    margin: 8px;
    position:center;
    border-radius: 15px;
}

p {
}

.display {

    background-color: limegreen;
    text-align: right;
    height: 90px;
    width: 473px;
    float:top;
    margin: 10px;
    border-width:6px;
    border-color: #64e764;
    font-family:verdana;
    font-weight: bold;
    color: #1f871f;
    font-size: 350%;
    /*text-shadow: 1px 1px 2px black, 0 0 5px blue, 0 0 5px dar#64e764*/
     -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.calButtonDivs {
    font-family:Arial Black;
    height: 80px;
    width: 80px;
    float:left;
    font-size: 320%;
    line-height: 82px;
    color: #d0e9f1;
    /*box-shadow: 20px 20px 25px #000000;*/
    webkit-box-shadow: inset 52px 51px 28px -39px rgba(0,0,0,0.33);
    border-color: #5f6c7a;
    text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
box-shadow: inset -12px -11px 28px -8px #757373;
-webkit-box-shadow: inset -12px -11px 28px -8px #757373;
-moz-box-shadow: inset -12px -11px 28px -8px #757373;
-o-box-shadow: inset -12px -11px 28px -8px #757373;

}

#CBD21 {
    background-color: orange;
    height: 80px;
    width: 280px;
    float:right;
}

#CBD5 {
    font-size:20px;
}

#CBD10 {
    font-size:20px;
}

#CBD15 {
    font-size:20px;
}

#CBD20 {
    font-size:20px;
}

